<form id="formSearch" class="col s12">
	<div class="input-group">
		<div class="row">
			<div class="input-field col s11">
				<input id="search" name="search" type="text">
				<label for="search">Search</label>
			</div>
			<div class="input-field col s1">
				<button class="btn-floating waves-effect waves-light" type="submit">
					<i class="material-icons right">search</i>
				</button>
			</div>
		</div>
	</div>

</form>