<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Kinofil - Signin</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link rel="shortcut icon" href="./images/icon.ico" />
</head>

<body>
	<%- include("./navbar.ejs") %>

	<div id="login-page">
		<%- include("./alert.ejs") %>
		<div id="login-card" class="row">
			<div class="col s12 z-depth-6 card-panel">
				<form action="/signup" method="POST" class="login-form">
					<div class="row">
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">mail_outline</i>
							<input id="email" class="validate input-text" name="email" type="email" placeholder="Email"
								required>
							<label for="email" data-error="wrong" data-success="right"></label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">person_outline</i>
							<input id="username" class="input-text" name="username" type="text" placeholder="Username"
								required>
							<label for="username"></label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">lock_outline</i>
							<input id="password" class="input-text" name="password" type="password"
								placeholder="Password" required>
							<label for="password"></label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<button class="btn waves-effect waves-orange col s12" type="submit">Sign up</button>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6 m6 l6">
							<p class="margin medium-small"><a href="/login">Login Now!</a></p>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<%- include("./footer.ejs") %>
</body>


</html>